doctype html
head
	title BitsAndBytes Home
	link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css')
	link(rel='stylesheet' type='text/css' href='sitewide.css')

	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
	script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js')


body.bits-body
	nav.navbar.navbar-inverse.bits-border-rounded.bits-navbar
		.container-fluid
			.navbar-header
				button.navbar-toggle.bits-navbar-collapse(type="button" data-toggle="collapse" data-target="#myNavbar")
					span.icon-bar.bits-navbar-collapse-span
					span.icon-bar.bits-navbar-collapse-span
					span.icon-bar.bits-navbar-collapse-span
				a.navbar-brand.bits-text(href="#") BitsAndBytes
			#myNavbar.collapse.navbar-collapse
				ul.nav.navbar-nav
					li
						a.bits-text(href="/") Home
					if acctype === 'Admin'
						li
							a.bits-text(href="createsurvey") Create Survey
						li
							a.bits-text(href="photos") Photos
				ul.nav.navbar-nav.navbar-right
					li
						a.bits-text(href='/logout')
							span.glyphicon.glyphicon-log-out
							|  Log Out
	.jumbotron.text-center.bits-primary.bits-border-rounded
		h1.bits-text Home
		#container.col
		if acctype === 'Student'
			ul.nav.nav-tabs
				li.active
					a.bits-tabs-item(data-toggle='tab' href='#menu3') Announcements
				li
					a.bits-tabs-item(data-toggle='tab' href='#home') Check In
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu1') Check Out
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu2') Take Survey
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu4') Timestamps

			.tab-content
				#home.tab-pane.fade
					h2.bits-text Check In
					div
						if !checkedIn
							p.bits-text Click here to check in
							form(action='checkin' method='GET')
								button.btn.btn-default(type='submit') Check In
						else
							p.bits-text You have already checked in today


				#menu1.tab-pane.fade
					h2.bits-text Check Out
					div
					if !checkedOut
						p.bits-text Click here to check out
						form(action='checkout' method='GET')
							button.btn.btn-default(type='submit') Check Out
					else
						p.bits-text You have already checked out today


				#menu2.tab-pane.fade
					h2.bits-text Take Survey
					div
						p.bits-text Click here to take the presurvey
						form(action='PresurveyStudent' method='GET')
							button.btn.btn-default(type='submit' value='Presurvey') Pre-survey

						p.bits-text Click here to take the postsurvey
						form(action='PostsurveyStudent' method='GET')
							button.btn.btn-default(type='submit' value='Postsurvey') Post-survey

				#menu3.tab-pane.fade.in.active
					h2.bits-text Announcements
					div
						div(style='align: center')
							each announcement in announcements
								div !{announcement}

				#menu4.tab-pane.fade
					h2.bits-text Timestamps
					div
					ul
						each val in times
							li= val


		else if acctype === 'Parent'
			ul.nav.nav-tabs
				li.active
					a.bits-tabs-item(data-toggle='tab' href='#menu4') Announcements
				li
					a.bits-tabs-item(data-toggle='tab' href='#home') Registration
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu1') Student Sign up
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu2') Timestamps
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu3') Take Survey

			.tab-content
				#home.tab-pane.fade
					h2.bits-text Registration
					div
						p.bits-text Click here to download the registration form:
						form(action='registration' method='GET')
							button.btn.btn-default(type='submit') Cat
						form(action='test' method='GET')
							button.btn.btn-default(type='submit') Test
						br
						form(action='forminfo' method='POST' id="selectedstudent")
							if(studentname !== undefined)
								select(class='selectedstudent' name='selectedstudent')
									each val in studentname
										option(value=val)= val
							button.btn.btn-default(type='submit') Select Student
						if(selectedstudent != undefined)
							h3.bits-text= selectedstudent
							if !hasPermission
								div
								p.bits-text Upload Permission Slip:
								form(action='/uploadpermission' enctype='multipart/form-data' method='POST')
									input(type='file' name='permission' style='align: center')
									button.btn.btn-default(type='submit') Upload a File
							if !hasWaiver
								p.bits-text Upload Waiver:
								form(action='/uploadwaiver' enctype='multipart/form-data' method='POST')
									input(type='file' name='waiver' style='align: center')
									button.btn.btn-default(type='submit') Upload a File
				#menu1.tab-pane.fade
					h2.bits-text Sign up a student
					div
						p.bits-text Click here to sign up a student
						form(action='studentsignup' method='GET')
							button.btn.btn-default(type='submit') Student Sign up
						div
				#menu2.tab-pane.fade
					h2.bits-text Check a students Timesheet
					div
						p.bits-text Click here to download Check a students timesheet
						div
						if (val !== undefined)
							ul
								each val in times
									li= val


						form(action='registration' method='GET')
							button.btn.btn-default(type='submit') Cat
						form(action='test' method='GET')
							button.btn.btn-default(type='submit') Test
						div

				#menu3.tab-pane.fade.in.active

					div
						p Click here to take the presurvey
						form(action='PresurveyParent' method='GET')
							input(type='submit' value='Presurvey')


						p Click here to take the postsurvey
						form(action='PostsurveyParent' method='GET')
							input(type='submit' value='Postsurvey')

						div
				#menu4.tab-pane.fade
					h2.bits-text Announcements
					div
						div(style='align: center')
							each announcement in announcements
								div !{announcement}

		else if acctype === 'Admin'
			ul.nav.nav-tabs
				li.active
					a.bits-tabs-item(data-toggle='tab' href='#menu1') Announcements
				li
					a.bits-tabs-item(data-toggle='tab' href='#home') Create survey
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu2') Modify Student
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu3') Send Email
				li
					a.bits-tabs-item(data-toggle='tab' href='#menu4') Download CSV
			.tab-content
				#home.tab-pane.fade
					h2.bits-text Registration
					div
						p.bits-text Create a survey using the survey creator
						form(action='createsurvey' method='GET')
							button.btn.btn-default(type='submit') Create Survey
				#menu1.tab-pane.fade.in.active
					h2.bits-text View the Latest Announcements
					div
						form(action='announcements' method='GET')
							button.btn.btn-default(type='submit') Create New
						div.text-left.bits-announcements
							each announcement in announcements
								hr
								div !{announcement}

				#menu2.tab-pane.fade
					h2.bits-text Modify Student
					div
						p.bits-text Modify a Student's information
						div.bits-div
							form(action='ModifyStudent' method='GET')
								button.btn.btn-default(type='submit') Modify
						hr(style='border: 5px solid white; border-radius: 5px;')
						p.bits-text Delete a Form
						div.bits-div
							form(action='modForm' method='GET')
								input.form-control(type='text',  style='width: 350px' placeholder='Enter student first and last name' name='name')
								input.form-control(type='text',  style='width: 350px' placeholder='Type of form' name='type')
								button.btn.btn-default(type='submit'  style='width: 200px' name='delete') Delete
				#menu4.tab-pane.fade
					h2.bits-text Download CSV
					div
						p.bits-text Click here to download the registration form:
						form(action='studentcsv' method='GET')
							button.btn.btn-default(type='submit') CSV

//								input.form-control(type='radio' name='file' value='1')
//								| Form
//								input.form-control(type='radio' name='file' value='2')
//								| Waiver


				#menu3.tab-pane.fade
					h2.bits-text Configure Email message
					div
						p.bits-text Send an Email
						div.bits-div
							form(action='ConfigureMail' method='POST')
								input#name.form-control(type='text', placeholder='Enter a subject' name='subject')
								textarea#name.form-control(rows='20' cols='50' placeholder='Enter Email contents' name='emailcontent')
								button.btn.btn-default(type='submit') Select Recipients


		else
			h2 Please login to view contents
