doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Pictures
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
		link(rel='stylesheet', href='announcements.css')
	body(onload='displayGallery()')
		h2.container Pictures
		form#Picturesdemo.container
		form(action='/Pictures', enctype='multipart/form-data', method='POST')
			input(type='file', name='myFile')
			input(type='submit', value='Upload a file')
			p Written with love by #{__dirname}

		script.
			var pictures="#{picnumber}";
			var pic="/views/Pictures/picture";
			var dir="#{__dirname}";
			function displayGallery() {
				for(v=1;v<=pictures;v++){
					var x = document.createElement("IMG");
					var dPrint=document.createElement("p");
					console.log(pictures);
					x.setAttribute("src", dir+pic+v+".jpg");
					x.setAttribute("width", "304");
					x.setAttribute("height", "228");
					x.setAttribute("hspace", "20");
					x.setAttribute("vspace", "20");
					document.body.appendChild(x);
				}
			}
		script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
		script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
